[main]
Description=
Host=vpn.example.com
AuthType=1
GroupName=ExampleGroup
GroupPwd=
enc_GroupPwd=231F8688464BB54057871AD5CE733E2776C545C1A5ED3458CFAB17356DC2DBCDC7C94A646880F60E3CCBF0F5B7AF20DD581564DFADF865AF
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=C:\Documents and Settings\All Users\Application Data\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=
SaveUserPassword=
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=1
